<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.n490808114.pojo">
    <insert id="saveUser" parameterType="xyz.n490808114.pojo.User" useGeneratedKeys="true">
        INSERT INTO user_inf(id,loginname,password,status,createdate,username,email) VALUES(#{id},#{loginName},#{password},#{status},#{createDate},#{userName},#{email})
    </insert>
    <select id="selectUser"
            parameterType="int"
            resultType="user">
        SELECT * FROM user_inf WHERE id = #{id}
    </select>
</mapper>